
<style>
  :host {
    font-family:  Arial;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #9355A7;
    color: white;
    font-weight: 800;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 150px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }



  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }


  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(255,205,255);
  }

  .terminal pre {
    font-family: Arial;
    color: black;
    padding: 0 1rem 1rem;
    margin: 0;
  }






</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">

  <span>Welcome to my app!!</span>
<!--    <div class="spacer"></div>-->

</div>

<div class="content" role="main">


  <h2>Next Steps</h2>
  <p>What do you want to do next with your app?</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'reversal'" tabindex="0">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>

      <span>Reverse words</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'anagram'" tabindex="0">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>

      <span>Check for anagrams</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'primenumber'" tabindex="0">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>

      <span>Check for prime number</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'primelist'" tabindex="0">
      <svg class="material-icons"  width="24" height="24" viewBox="0 0 24 24"></svg>

      <span>Make a list of prime numbers</span>
    </div>


  </div>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault><app-reversal></app-reversal></pre>
      <pre *ngSwitchCase="'reversal'"><app-reversal></app-reversal></pre>
      <pre *ngSwitchCase="'anagram'"><app-anagram></app-anagram></pre>
      <pre *ngSwitchCase="'primenumber'"><app-primenumber></app-primenumber></pre>
      <pre *ngSwitchCase="'primelist'"><app-primelist></app-primelist></pre>
  </div>



</div>


<router-outlet></router-outlet>
