<html>

<div class="content" role="main">


  <h1>Mango application</h1>
  <p>Have fun!</p>

  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'reversal'" tabindex="0">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>

      <span>Reverse words</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'anagram'" tabindex="0">
        <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>

      <span>Check for anagrams</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'primenumber'" tabindex="0">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"></svg>

      <span>Check for prime number</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'primelist'" tabindex="0">
      <svg class="material-icons"  width="24" height="24" viewBox="0 0 24 24"></svg>

      <span>Make a list of prime numbers</span>
    </div>


  </div>

  <!-- Terminal -->
  <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault><app-reversal></app-reversal></pre>
      <pre *ngSwitchCase="'reversal'"><app-reversal></app-reversal></pre>
      <pre *ngSwitchCase="'anagram'"><app-anagram></app-anagram></pre>
      <pre *ngSwitchCase="'primenumber'"><app-primenumber></app-primenumber></pre>
      <pre *ngSwitchCase="'primelist'"><app-primelist></app-primelist></pre>
  </div>




</div>   <!-- class: content -->

<router-outlet></router-outlet>




</html>
